
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark: hsl(229, 23%, 23%);
    --dark-gray: hsl(227, 10%, 46%);
  }

html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
  
    body {
        font-family: 'Kumbh Sans', sans-serif;
        background-color: var(--dark-cyan);
        background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    }


h3{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: var(--very-dark);
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
    color: var(--dark-gray);
    /* font-weight: 400; */
    font-size: 1.2rem;
  }
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    max-width: 320 px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315) ;
} 

.card-header{
  width: 100%;
  display: block;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.283);
}

.card-body-image{
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    margin-top: -42px;
}

.card-body-title{
    font-size: 1.8rem;
    margin-top: 2rem;
    
}

.card-body-title-span{
    color: var(--dark-gray);
    font-weight: 400;
    /* margin-left: 0.7rem; */
}

.card-body-text{
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin-top: 0px;
    margin-bottom: 2rem;
    font-weight: 400;
}

.card-footer{
    display: flex;
    justify-content: space-evenly;
}

.card-footer-social{
    text-align: center;
}

.card-footer-social-text{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: var(--very-dark);
    font-weight: 700;
}
